@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');

/***********COMUNES**************/

html{
    font-family: 'Quicksand', sans-serif;
}
body{
    line-height: 1.4em;
}
h1, h2, h3, h4, p, form{
    margin-left: 15px;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 45px;
    color: #2F76A3;
    /*text-align: center;*/
}
h3{
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}
h4{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}
p{
    padding-bottom: 12px;
}

.circleUl{
    list-style: circle;
    margin-left:45px;
    
}
ol{
    margin-left:45px;
}
.circleUl li, ol li{
    padding-bottom: 12px;;
}
table{
    width:60%; 
    border: 1px solid black;
    border-collapse: collapse;
    margin-left:45px;
    margin-bottom: 15px;
    margin-top: 15px;
}
td, th{
    border: 1px solid black;
    padding: 10px;
}
.noDecoration a{
    text-decoration: none;
}

.heroText{
    text-align: center;
    width: 100%;
    color:white;
    text-shadow: 5px 5px 5px black;
    line-height: 1;
}
section{
    width: 1500px;
    margin: 0 auto;
}
.legal{
    width: 1500px;
    margin: 0 auto;
}
#Cookies{
    position: fixed;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin-top: 5px;
    margin: 0 auto;
    height: 300px;
    width: 200px;
    text-align: center;
    z-index: 100;
}
#fondoCookies{
    width: 100%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    position: absolute;
}
.boton {
  min-width: 100px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #2F76A3;
  background: #2F76A3;
}
.boton:hover {
  background: #fff;
  color: #2F76A3;
}
/***********MAIN**************/
#heroImg{
    width: 100%;
    height: 680px;
    display: flex;
    align-items: center;
    background-image: url("../img/mainRestaurante.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
#formReview{
    width: 33%;
    float: left;
}
#opiniones{
    display: flex;
    width: 66%;
    justify-content: space-between;
}
.flecha{
    height: 50px;
    margin-top: 25px;
    cursor: pointer;
}
#mapa{
    display:flex;
    justify-content: center;
}
.mainSec{
    width: 1500px;
    margin: 0 auto;
}
#reviews{
    margin-bottom: 180px;
}
#enviarReview{
    margin-left: 15px;
}
.galeria{
    width: 1500px;
}
.galeria img{
    width: 49%;
    height: 650px;
}
.galeria3 img{
    width: 33%;
    height: 500px;
}

/***********CARTA**************/

#heroCarta{
    width: 100%;
    height: 680px;
    display: flex;
    align-items: center;
    background-image: url("../img/imgCarta.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
#carta{
    width: 1500px;
    margin: 0 auto;
}
.precio{
    text-align: right;
}
/***********ESPECIALIDADES**************/

#heroEspecialidades{
    width: 100%;
    height: 680px;
    display: flex;
    align-items: center;
    background-image: url("../img/imgEspecialidades.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
#especialidades{
    width: 1500px;
    margin: 0 auto;
}
#especialidades article{
    display: flex;
    justify-content: center;
    height: 600px;
}
.textoEspecialidades{
    width: 50%;
    margin-top: 25px;
}
#carneEspecialidades{
    width: 50%;
    height: 600px;
    background-image: url("../img/carne.jpg");
}
#brochetasEspecialidades{
    width: 50%;
    height: 600px;
    background-image: url("../img/brochetas.jpg");
}
#salmonEspecialidades{
    width: 50%;
    height: 600px;
    background-image: url("../img/salmon.jpg");
}
#merluzaEspecialidades{
    width: 50%;
    height: 600px;
    background-image: url("../img/merluza.jpg");
    
}
.imgOculta{
    display: none;
}

/***********MENUS***************/

#heroMenus{
    width: 100%;
    height: 680px;
    display: flex;
    align-items: center;
    background-image: url("../img/imgMenus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
#menus{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#menus img{
   display:block;
   margin: auto;
}
.oculto{
    display: none;
}

/***********RESERVAS**************/

#heroReservas{
    width: 100%;
    height: 680px;
    display: flex;
    align-items: center;
    background-image: url("../img/imgReservas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
textarea {
    resize: none;
  }
#botonReserva{
    margin-left: 15px;
}

/***********HEADER**************/

header{
    height: 100px;
    width: 100%;
    background-color: #FFD396;
    font-size: 1.6em;
}
.headerDiv{
    width: 1920px;
    margin: 0 auto;
}
#logoHeader{
    margin: 5px;
    margin-left: 20px;
    position: absolute;
}
header nav{
    float: left;
    margin-left: 25%;
    width: 70%; 
}

header nav li{
    margin-top: 30px;
    text-align: center;
}
header ul{
    display: flex;
    justify-content: space-around;
}
header a{
    text-decoration: none;
    color:black;
}
header a:hover{
   font-weight: 600;
}
.iconoMenu{
    display: none;
}
.iconoCerrar{
    display: none;
}
/***********MAIN**************/

/*main{
    height: 500px;
}*/


/***********FOOTER**************/
footer{
    width: 100%;
    height: 350px;
    background-color: #FFD396;
}
.footerSpan{
    width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
footer section{
   width: 33%;
}
footer ul{
    margin-left:20px;
    font-size: 1.2em;
}
footer li{
    padding-bottom: 10px;
}
footer li a{
    text-decoration: none;
    color: black;
}

footer h2{
    margin-top: 25px;
    text-align: left;
    color: black;
}

#socials, #mapaSitio, #legal{
    margin-top: 10px;
}
#enlacesSocials{
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}
#socials button{
    margin-top: 20px;
    margin-left: 40%;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-size: 25px;
}
footer h2{
    margin-bottom: 20px;
    margin-left: 15px;
}
footer h3, footer p{
    margin-left: 15px;
}


/***********MEDIA QUERYS**************/

@media (max-width: 1920px){
    .headerDiv{
        width: 100%;
    }
}

@media (max-width: 1600px){
    .mainSec{
        width: 100%;
    }
    .footerSpan{
        width: 100%;
    }
    #carta{
        width: 95%;
    }
    #carta img{
        width: 100%;
    }
    #especialidades{
        width: 95%;
    }
    /*#especialidades article{
        display: block;
    }*/
    .textoEspecialidades{
        width: 100%;
    }
    #carneEspecialidades, #brochetasEspecialidades, #salmonEspecialidades, #merluzaEspecialidades{
        display: none;
    }
    #menus{
        width: 90%;
    }
    section{
        width: 95%;
    }
    .imgOculta{
        display: inline;
        height: 450px;
        width: 450px;
        text-align: center;
    }
    #especialidades article{
        display: block;
        align-items: center;
        justify-content: center;
        height: 850px;
    }
    .galeria img {
        width: 45%;
        height: 700px;
    }
}

@media (max-width: 1550px){
   
    .galeria {
        width: 100%;
        margin-left: 25px;
    }
    .galeria3 img{
        width: 50%;
        
    }
}

@media (max-width: 1250px){
    .footerSpan{
        display: block;
        text-align: center;
        padding-top: 10px;
    }
    footer h2{
        text-align: center;
        margin-top: 50px;
    }
    footer section{
        width: 100%;
    }
    footer{
        height: 900px;
    }
    .galeria img{
        width: 75%;
    }
    .galeria3 img{
        height: 400px;
    }
    .galeria3 img{
        width: 50%;
        height: 400px;
    }
    .galeria3{
        margin-left: 25px;
        
    }
}

@media (max-width: 1250px){
    .galeria3 img{
        height: 350px;
    }
}

@media (max-width: 1000px){
    
  
    #reviewsHechas{
        width: 100%;
      }
      #formReview{
          width: 100%;
      }
      .imgOculta{
        height: 300px;
        width: 300px;
    }
    #especialidades article{
        height: 750px;
    }
    header nav{
        float: right;
        margin-left: 0%;
        width: 70%; 
    }
    .menuResponsive{
        display: none;
        position: absolute;
        float :left;
        background-color: #FFD396;
        margin-top: 75px;
        margin-left: 50%;
        padding-bottom: 25px;
    }
    
    header nav li{
        margin-top: 30px;
        text-align: center;
    }
    header ul{
        display: block;
        justify-content: space-around;
    }
    .iconoMenu{
        display: block;
        float: right;
        margin-right: 50px;
        margin-top: 15px;
        cursor: pointer;
        width: 30px;
        height: 50px;
    }
    .iconoCerrar{
        cursor: pointer;
        width: 30px;
        height: 50px;
        float: right;
        margin-right: 50px;
        margin-top: 15px;
    }
    .galeria3 img{
        height: 300px;
    }
}

@media (max-width: 850px){
    .menuResponsive{
        margin-left: 45%;
    }
    .galeria img{
        height: 300px;
    }
    .galeria3 img{
        height: 200px;
    }
    
}

@media (max-width: 750px){
    .menuResponsive{
        margin-left: 40%;
    }
    .galeria img{
        height: 400px;
    }
    .galeria3 img{
        height: 300px;
    }
}

@media (max-width: 650px){
    .menuResponsive{
        margin-left: 35%;
    }
   
}



@media (max-width: 450px){
    .menuResponsive{
        margin-left: 25%;
    }
}

@media ( min-width: 1000px){
    header nav{
        float: left;
        margin-left: 25%;
        width: 70%; 
    }
    
    header nav li{
        margin-top: 30px;
        text-align: center;
    }
    header ul{
        display: flex;
        justify-content: space-around;
    }
}
